<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pharmcies_store.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pharmcies_store.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pharmcies_store.longitude %>
</p>

<%= link_to 'Edit', edit_pharmcies_store_path(@pharmcies_store) %> |
<%= link_to 'Back', pharmcies_stores_path %>
