
<p id="notice"><%= notice %></p>

<h1 class="mt-4 mb-4 text-center">Hospitals</h1>

<% if admin_signed_in? %>
<%= link_to 'New Hospital', new_hospital_path %>
<% end %>
<div class= "container">
<div class= "row">
<% @hospitals.each do |hospital| %>
  <div class="col-4-lg ml-3" >
  <div class="card text-center" style= "width: 18rem; height: 20rem;">
  <img class="card-img-top"  src="<%= hospital.img %>"  alt= "nothing" width="286" height="170">
  <div class="card-body">    
  <h5 class="card-title"><td><%= hospital.name %></td></h5>
  <td><%= link_to 'Show', hospital %></td>
  <% if admin_signed_in? %>
  <td><%= link_to 'Edit', edit_hospital_path(hospital) %></td>
  <td><%= link_to 'Destroy', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>

  </div>

  </div>
</div>
<% end %>
</div>
</div>



