<h1 class="mt-4 mb-4 text-center"> Coronavirus Cases in <%=params[:search].capitalize()%> </h1>  

    <table class="table table-striped table-dark table-borderless table-hover text-center">
    <thead class="thead-dark">
    <tr>
      <th>Country</th>
      <th>Flag</th>
      <th>Cases</th>
      <th>Today Cases</th>
      <th>Deaths</th>
      <th>Today Deaths</th>
      <th>Recovered</th>
      <th>Active</th>
      <th>Critical</th>
    </tr>
  </thead>
  <tbody>
  <tr>
  
  <td><%= @search["country"] %></td>
  <td><%= image_tag(@search["countryInfo"]["flag"], height:"30", width:"60")%></td>
  <td><%= @search["cases"] %></td>
  <td><%= @search["todayCases"] %></td>
  <td><%= @search["deaths"] %></td>
  <td><%= @search["todayDeaths"] %></td>
  <td><%= @search["recovered"] %></td>
  <td><%= @search["active"] %></td>
  <td><%= @search["critical"] %></td>
        
        </tr>

  
     
    </tbody>
  </table>